body{
    font-family: Muli;
    src: url(assets/fonts/Muli-Bold.woff);
    width: 1920px;
}
h1{
    color:#f7ae3b;
    font-size: 55 px;
}
h2 {
    color: #f7ae3b;
    font-size: 40 px;
    /* font-size: 50 px; */
  }
h3{

}
h5{
      font-size: 24px;
      color:#ffffff
  }


.header{
    background-image: url(assets/images/main-img.png);
    width: 1920px;
    height: 1080px;
}
.header__top-inner{
    height: 190px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
   

}
    .user__personal{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .social__link{
        /* background-image: url(assets/images/faceb-icontop.png);
        background-size: 50% auto; */
    }

    
    .menu__list{
        display: flex;
        flex-direction: row;
        color:white;
          
    }
    .menu__item{
        padding: 10px ;
        
    }
    .menu__link{
        color: white;
        text-decoration: none;
    }
    .logo{  
    }
    .user__info{
        width: 450px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }
    .user__personal{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .personal__list{
        display: flex; 
        
    }
    .personal__list-item{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .social{
        display: flex;
    }
    .social__list{
        display: flex;
        flex-direction: row;   
    }
    .social__list-item{
        padding-left: 15px;
        padding-right: 15px; 
    }
    .header-content{
        display: flex;
        flex-direction: row;
        justify-content: center;    
    }
    .header__btn-wrapper{
        
    }

.smoothies{
    height: 870px;
    background-color: #ffffff; 
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 100px;
    margin-bottom: 100px;

}
.smoothies__text{
    display: flex;
 
    
}
.about{
    width: 1920px;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #18866d;   
}
    .about__description{
        /* display:flex;
        align-self:center; */
        /* flex-direction: column; */
        /* justify-content: space-between; */
        margin-top: 100px;
        margin-right: 350px;
        margin-bottom: 100px;
        
    }
    .about__picture{
        margin-top: 70px;
        /* margin-left: 135px; */
    }
    .about__list{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about__list-item{
        line-height: 1.5em;
        font-size: 21px;
        color: #ffffff;
    }
    .about__header-descr{
        font: 55px;
        color:#ffffff;
    }
    .text--yellow {
        color:#cae941;
        text-align: center;
        font-size: 55px;
        font-weight: ExtraBold;}

.products{
    height: 720px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
        
    .inner {
        width: 480px;
        height: 720 px;
        
        
        
        text-align: center;
        padding-top: 130px;
        
    }
    .type--brown{
        background-color: #652815;
    }
    .type--green{
        background-color:#158a70;
    }
    .type--yellow{
    background-color:#fab03c;
    }
    .type--orange{
        background-color:#c34b19;
    }
.story{
    height: 900px;
    background-color:#ffffff;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    position:relative;
   
}
.story__text{
    width:520px;
    position:absolute;
    left: 300px;
    top: 120px;
    font-size: 18px;
    line-height: 35px;
   
}
.story__picture{
    position:absolute;
    top:60px;
    right: 310px;

}
.testimonials{
    height: 720px;
    background-color:#643018;
    position: relative;
}
.text--brown{
    color:#f2612d;
    font-size: 50px;
}
.testimonials__dots-img{
    position: absolute;
    top:-60px;
    right: 50px;
}
.q{}
.testimonials__avatar{
position:absolute;
right: 600px;
top: 290px;
}

.blog{
    background-color:#ffffff;
    /* margin: 90px 360px 40px 360px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 870px;
    position: relative;

}
    .blog__img{
        /* width: 555px;
        height: 400px; */
        position: absolute;
        top:200px;
        left:360px;
    }
    .blog__text{
        width: 650px;
        height: 250px;
        margin-top: 360px;
        
    }
    .instagram__link{
     display: flex;
     justify-content: center;
     margin-bottom: 50px;
     color:#0aa566;
     font-size: 40px;
    }
.instagram{

}
    .instagram__pictures{
        display:flex;
        flex-direction: row;
        
    }
    .instagram__pictures-adv {
        width: 384 px;
        height: 384 px;
    }

.footer-top{
    background-color:#f9af3c;
    height: 370px;
    display: flex;
    flex-direction: row;
}
.footer-botton{
    background-color:#692c20;
    height: 60px;
}
    .copyright-text{
        text-align: center;
    }

.btn {
    font-family: Muli;
    font-weight: ExtraBold Italic; 
    text-align: center; 
   
}
.btn--green-bg{
        width: 280px;
        height: 70px;
        border-radius: 35px;
        font-size: 18 px;
        letter-spacing: -20;
        background-color: #0aa566;
        text-align: left;
        color:white;
        font-size: 24px;
       margin-top: 16px;
    }
.btn--yellow-border {
        width:380px;
        height: 60px;
        border-radius: 30px;
        font-size: 21px;
        color:white;
        text-align: left;
        letter-spacing: 0;
        border-color:#fcd8a0;
        background-color:#167e74;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
.btn--small{
        width: 204px;
        height: 60px;
        border-radius: 30px;
        background-color: transparent;
        color:white;
        border-color: #ffffff;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        
}
.btn--no-border{
        width: 301px ;
        height: 60px;
        border-radius: 30px;
        border-color: #ffffff;
        background-color:#0aa566;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        
        
}
.arrow--yellow{
    align: right;

}
.social__icon--facebook{
  
    
}







