*,
*::after, 
*::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
li {
    list-style-type: none;
}
button {
    border: none;
    background-color: transparent;
}
@font-face {
    font-family: 'MuliExtraBold';
    src: url("./fonts/Muli-ExtraBold.woff") format ("woff");
    font-family: "Muli-Bold";
    src:url("./fonts/MuliBold.woff") format ("woff");
    font-family: "Muli-Regular";
    src: url("./fonts/MuliRegular.woff") format ("woff");
    font-family: "Muli-ExtraBoldItalic";
    src: url("./fonts/MuliExtraBoldItalic.woff") format ("woff");

}
body{
  
    color: #fff; 
    font-family: 'MuliBold', sans-serif;
    
}

.title{
    color:#f7ae3b;
    font-size: 50px;
    line-height: 40px;   
    font-family: 'MuliExtraBold', sans-serif ; 
}   
.about__header{
    font-size: 40px;
}
.text{
    font-size: 18px;
    line-height: 35px;
    color:black;
    font-family: 'MuliBold', sans-serif;
}
.footer__header, .footer__payment, .footer__follow {
    font-size: 26px;
    color:#ffffff;
}
.product__header  {
    color: #ffffff;
    font-size:21px;
    line-height:22px;
}
.btn{
    color:#ffffff;
    font-family: 'MuliExtraBold', sans-serif;    
}
.btn--green-backgr{
    font-size: 24px;
    line-height: 40px;
    background-color:#0aa566;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    width: 280px;
    height: 70px;
    
    
}
.product__btn{
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    width:204px;
    height: 60px;
    font-size: 21px;
    line-height: 22px;
    margin-top: 90px;
}
.btn--yellow-border{
    border: 2px solid #f5b132;
    border-radius:30px  ;
    -webkit-border-radius:30px  ;
    -moz-border-radius:30px  ;
    -ms-border-radius:30px  ;
    -o-border-radius:30px  ;
    width:380px;
    height:60px;
    font-size: 21px;
    line-height: 22px;
}
.btn--white-border{
    border: 2px solid white;
    color: white;
}

.header{
    background-image: url(assets/images/main-img.png);
    background-position: center;
    background-size:cover;
    height: 1080px;
}
.header__top{
    height: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.btn--left{
    
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.header__personal{
    position: relative;
}
.header__personal::after{
    content:url(assets/images/-top.png);
    display: block;
    position: absolute;
    bottom: 30px;
    right: -145px;
}
.header__list{ 
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__list-link{
        font-size: 16px;
        color:#ffffff;
        
}
.header__social-list, .personal__list{
    padding: 0;
}
.personal__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 170px;
}
.personal__counter{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 10px;
    color: black;
    position: absolute;
    bottom: 20px;
    right: -15px;
}
.personal__list-item{
    position: relative;
    
}
.header__content{
    display: flex;
    justify-content: center;
    align-items: center;
}   
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 125px;
    
    }

.social__list-link{
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
   
}

.social__list-img{
    
}
.smoothies{
    height: 870px;
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;

}
.smoothies__about{
width: 915px;
text-indent: 20px;
}
.smoothies__type{
    width: 1000px;
    
    display: flex;
    /* flex: 1 1 0px;
    */
    flex-direction: row;  
    flex-wrap: wrap;
    align-content: center;
    column-gap: 50px;
    row-gap: 100px;
    

}   

.smoothies__name{
    color: #f2612d;
    font-size: 25px;
    line-height: 40px;
}
.smoothies__description{
    padding-top: 58px;
}
.about{
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #18866d;   
}
    .about__description{
        margin-top: 50px;
        width: calc(100%/2);  
    }
    .about__header{
        display: block;
        margin-right: 290px;
        font-size: 55px;
        line-height: 60px;
        color:#ffffff;
    }
    .about__title-bold{
        color:#cae941;
        position: relative;
    }
    .about__title-bold::after{
        content:url(assets/images/line.png);
        display: block;
        position: absolute;
        bottom: -17px;
        right: 5px;
        
    }
    .about__picture{
        padding-top: 60px;
        padding-left: 90px;
        z-index:3;   
    }
    .about__list{
        /* padding-bottom: 35px;
        padding-left: 0;
        margin:0; */
    }
    .about__item{
        font-family: 'MuliRegular', sans-serif;
        line-height: 2;
        font-size: 21px;
        color: #ffffff;
    }
    .about__item-bold{
        font-family: 'MuliExtraBold', sans-serif;
        font-size: 21px;  
    }
    .about__img{
        padding-right:20px;
    }

.product{
    height: 720px;
    display:flex;
    flex-direction: row;
    
}
.product__wrap{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    


}  
.product__img{
   
}
.product__volume{
    display: block;
    margin-top: 15px;
    font-family: "Muli-ExtraBoldItalic", sans-serif;
    text-align: center;

} 
.wrap--brown{
    background-color:#632c14;
    }
    .wrap--turquoise{
    background-color:#1a856f;
    }
    .wrap--yellow{
    background-color:#f7ae3e;
    }
    .wrap--orange{
    background-color:#bf4419;
    }
.product__header{
    font-size: 24px;
}  

.product__btn {


}
    .type--brown{
        background-color: #652815;
    }
    .type--green{
        background-color:#158a70;
    }
    .type--yellow{
    background-color:#fab03c;
    }
    .type--orange{
        background-color:#c34b19;
    }


.story{
    height: 900px;
    position:relative;
   
}
.story__text{
    width:520px;
    margin-left: 300px;
    margin-top: 55px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 35px;
   
}
.story__title{
    padding-top: 210px;
    padding-left: 310px;
   
}
.story__picture{
    position:absolute;
    top:60px;
    right: 310px;
    
  
    
}
.story__picture--img{
    position: relative; 
}
.story__title::after {
    content: url(assets/images/story-stamp.png);
    position: absolute;
    left:845px;
    top:85px;
    /* padding-right: 600px;
    padding-top: 100px; */
    /* width:100px;
    height: 100px; */
    /* border: 1px solid;
    background-size: cover; */
    z-index:3;

}
.story__btn{
    width: 301px;
    height: 60px;
    background-color:#0aa566;
    border-color:#0aa566;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    font-size: 21px;
    line-height: 22px;
    margin-left: 310px;

}
.testimonials{
    height: 720px;
    background-color:#643018;
    position: relative;
}
.testimonials__title{
    padding-top: 120px;
    padding-left: 700px;
    position: relative;
}
.testimonials__title::after{
    content:url(assets/images/Dots.png);
    position: absolute;
    right:40px;
    top:-80px;
}
.testimonials__phrase{
    width: 450px;
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    margin-top: 190px;
    margin-left: 590px;
}
.testimonials__author{
    color:#f7ae3b;
    font-size: 18px;
    line-height: 35px;
    margin-left: 710px;
    
}
/* .testimonials__dots-img{
    position: absolute;
    top:-60px;
    right: 50px;
} */

.testimonials__avatar{
position:absolute;
right: 600px;
top: 290px;
}
.testimonials__buttons{
display: flex;
justify-content: center;
align-items:center;
padding-top: 180px;
}
.testimonials__arrow{
    
}
.blog{
    height: 870px;
    position: relative; 
}
    .blog__wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
    margin-right: 380px;
    margin-top: 195px;
    
    
    }
    .blog__img{
        position: absolute;
        top:200px;
        left:360px;
        z-index: 4;
    }
    .blog__subtitle::before{
     content: url(assets/images/block-line.png);
     position: absolute;
     top:-50px;
     left:-60px;

    }
    
    .blog__subtitle{
        color:#f2612d;
        font-size: 30px;
        line-height: 40px;
        position:relative;

    }
    .blog__time{
        font-size: 16px;
        color:#000000;
        line-height: 35px;
        

    }
    .blog__text-about{
        line-height: 35px;
        font-size: 18px;
        width: 490px;
    }
    .blog__title{
        padding-top: 60px;
        padding-left: 360px;
        font-size: 50px;
    }

    .instagram__link{
     display: flex;
     justify-content: center;
     margin-bottom: 50px;
     color:#0aa566;
     font-size: 40px;
    }
.instagram{

}
.instagram__pictures{
        width: (100%/5);
        display:flex;
          
    }
.instagram__photo{
    position:relative;  
}
.instagram__photo::after{
    content:url(assets/images/Instagram.png);
    position:absolute;
    bottom: 30px;
    right: 20px;

}
.footer__logo{
    width: 250px;
}
.footer__top{
    background-color:#f9af3c;
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.footer__input{
    background-image: url(assets/images/mail-icon.png);
}
.footer__navigation-menu{
    width:250px;
    color:#000000;
    line-height: 35px;
    font-size: 18px;
    font-family: 'Muli-Bold';
}
.navigation__list{
   padding: 0;

}
.footer__payment{
    
    display: flex;
    flex-direction: column;
    
}
.footer__subscribe{
    
  
}
.footer__icons{
    width: 280px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;
    align-content: center;
}
.icon__img{
    display: flex;
    row-gap: 10px;    
}
.footer__botton{
    background-color:#692c20;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
   
}
.footer__text{
    color:#af8a82;
}
.btn--up{
    position: absolute;
    top:-30px;
    right:100px;
}







