*,
*::after, 
*::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
li {
    list-style-type: none;
}
button {
    border: none;
    background-color: transparent;
}
body{
    font-family: Muli-ExtraBold;
    src: url(assets/fonts/Muli-Bold.woff);
    src: url(assets/fonts/Muli-ExtraBold.woff);
    color: #fff; 
    overflow: auto;
    
}
/* @import url(assets/fonts/Muli-ExtraBold.woff);
@import url(assets/fonts/Muli-Regular.woff); */
.title{
    color:#f7ae3b;
    font-size: 50px;
    line-height: 40px;    
}   
.smoothies__header, .about__header{
    font-size: 40px;
}
.text{
    font-size: 18px;
    line-height: 35px;
    color:black;
    font-family: Muli-Regular;
}
.footer__header, .footer__payment, .footer__follow {
    font-size: 26px;
    color:#ffffff;
}
.product__header  {
    color: #ffffff;
    font-size:21px;
    line-height:22px;
}
.btn{
    color:#ffffff;    
}
.btn--green-backgr{
    font-size: 24px;
    line-height: 40px;
    background-color:#0aa566;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    width: 280px;
    height: 70px;
    
    
}
.product__btn{
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    width:204px;
    height: 60px;
    font-size: 21px;
    line-height: 22px;
}
.btn--yellow-border{
    border: 2px solid #f5b132;
    border-radius:30px  ;
    -webkit-border-radius:30px  ;
    -moz-border-radius:30px  ;
    -ms-border-radius:30px  ;
    -o-border-radius:30px  ;
    width:380px;
    height:60px;
    font-size: 21px;
    line-height: 22px;
}
.btn--white-border{
    border: 2px solid white;
    color: white;
}

.header{
    background-image: url(assets/images/main-img.png);
    height: 1080px;
}
.header__top{
    height: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.header__list{ 
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__list-link{
        font-size: 16px;
        color:#ffffff;
}
.personal__list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 170px;
}
.personal__counter{
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 10px;
    color: black;
}
.header__content{
    display: flex;
    justify-content: center;
    align-items: center;
}   
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 125px;
    
    }

.social__list-link{
    display: inline-block;
    background-color: #ffffff;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid red;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}
.social__list-img{
    
}
.smoothies{
    height: 870px;
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;

}
.smoothies__about{
width: 915px;
margin-top:50px;
margin-bottom: 60px;
text-indent: 20px;
}
.smoothies__type{
    width: 1000px;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    align-content: center;
    column-gap: 50px;

}   
.smoothies__img{

}
.smoothies__name{
    color: #f2612d;
    font-size: 25px;
    line-height: 40px;
}
.about{
    /* width: 1920px;
    height: 800px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #18866d;   
}
    .about__description{
        margin-top: 100px;
        width: 590px;
        /* padding-right: 350px;
        padding-bottom: 100px;  */
      
    }
    .about__header{
        font-size: 55px;
        line-height: 60px;
        color:#ffffff;
    }
    .about__title-bold{
        color:#cae941;
    }

    .about__picture{
        padding-top: 70px;
        z-index:3;
        
    }
    .about__list{
        margin-top: 50px;
        margin-bottom: 50px;
        
    }
    .about__item{
        font-family: Muli-ExtraBold;
        line-height: 1.5em;
        font-size: 21px;
        color: #ffffff;
    }
    .about__item-bold{
        font-family: Muli-Regular;
        font-size: 21px;
        /* font-weight: bold; */
        
    }
    .about__img{
        padding-right:20px;
    }

.product{
    height: 720px;
    display:flex;
    flex-direction: row;
    
  
}
.product__wrap{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}   
.wrap--brown{
    background-color:#632c14;
    }
    .wrap--turquoise{
    background-color:#1a856f;
    }
    .wrap--yellow{
    background-color:#f7ae3e;
    }
    .wrap--orange{
    background-color:#bf4419;
    }
.product__header{
    font-size: 24px;
}  
.product__img{
    
}
.product__btn {


}
    .type--brown{
        background-color: #652815;
    }
    .type--green{
        background-color:#158a70;
    }
    .type--yellow{
    background-color:#fab03c;
    }
    .type--orange{
        background-color:#c34b19;
    }


.story{
    height: 900px;
    position:relative;
   
}
.story__text{
    width:520px;
    margin-left: 300px;
    margin-top: 55px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 35px;
   
}
.story__title{
    padding-top: 260px;
    padding-left: 310px;
}
.story__picture{
    position:absolute;
    top:60px;
    right: 310px;
  
    
}
.story__picture--img{
   
}
.story__title::after {
    content: "";
    background-image: url(assets/images/story-stamp.png); 
    padding-right: 600px;
    padding-top: 100px;
    width:100px;
    height: 100px;
    border: 1px solid;
    background-size: cover;
    z-index:2;

}
.story__btn{
    width: 301px;
    height: 60px;
    background-color:#0aa566;
    border-color:#0aa566;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    font-size: 21px;
    line-height: 22px;
    margin-left: 310px;

}
.testimonials{
    height: 720px;
    background-color:#643018;
    position: relative;
}
.testimonials__title{
    padding-top: 120px;
    padding-left: 700px;
}
.testimonials__phrase{
    width: 450px;
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    margin-top: 190px;
    margin-left: 590px;
}
.testimonials__author{
    color:#f7ae3b;
    font-size: 18px;
    line-height: 35px;
    margin-left: 710px;
    
}
/* .testimonials__dots-img{
    position: absolute;
    top:-60px;
    right: 50px;
} */

.testimonials__avatar{
position:absolute;
right: 600px;
top: 290px;
}

.blog{
    height: 870px;
    position: relative; 
}
    .blog__wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end;
    margin-right: 380px;
    margin-top: 195px;
    
    
    }
    .blog__img{
        position: absolute;
        top:200px;
        left:360px;
    }
    
    .blog__subtitle{
        color:#f2612d;
        font-size: 30px;
        line-height: 40px;

    }
    .blog__time{
        font-size: 16px;
        color:#000000;
        line-height: 35px;
        
        padding-left: ;
        

    }
    .blog__text-about{
        line-height: 35px;
        font-size: 18px;
        width: 490px;
    }
    .blog__title{
        padding-top: 60px;
        padding-left: 360px;
        font-size: 50px;
    }

    .instagram__link{
     display: flex;
     justify-content: center;
     margin-bottom: 50px;
     color:#0aa566;
     font-size: 40px;
    }
.instagram{

}
    .instagram__pictures{
        width: (100%/5);
        display:flex;
        
        
    }

.footer__top{
    background-color:#f9af3c;
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.footer__input{
    background-image: url(assets/images/mail-icon.png);
}
.footer__navigation-menu{
    color:#000000;
    line-height: 35px;
    font-size: 18px;
    font-family: Muli-Bold;
}
.footer__payment{
    /* width: 250px; */
}
.footer__subscribe{
    /* width: 500px; */
    /* display: block;    */
}

.footer__botton{
    background-color:#692c20;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
   
}
.footer__text{
    color:#af8a82;
}
.btn--up{
    position: absolute;
    top:-30px;
    right:100px;
}







